.container{:id => params[:action]}
  .content
    .row
      .span4
        %h3 Your Application
        %ul.unstyled
          %li
            = link_to "Dashboard", app_path(@instance)
          %li
            = link_to "Messages", messages_app_path(@instance)
          %li
            = link_to "Settings", settings_app_path(@instance)
          %li
            = link_to "Analytics", analytics_app_path(@instance)
      .span12
        #flash-messages
          - flash.each do |name, msg|
            .alert-message.fade.in{:class => name, "data-alert" => "alert"}
              %a.close{:href => "#"} x
              %p #{msg}
        .page-header
          %h2 Settings
          %ul.tabs{"data-tabs" => "tabs"}
            %li.active
              %a{:href => "#home"} Main Screen
            %li
              %a{:href => "#info"} Info Panel
            %li
              %a{:href => "#images"} Images
          .tab-content
            .tab-pane.active#home
              .row
                .span5
                  #app-configuration-small
                    = image_tag @instance.app.canvas, {:width => "256", :class => "app-preview"}
                    %span.biz-greeting #{@instance.greeting}
                    %span.biz-name #{@instance.business_name}
                    .biz-logo-holder
                      = image_tag @instance.banner.url(:thumb), {:class => "biz-logo-thumbnail"}
                .span7
                  = form_tag(app_path(@instance), {:class => "form-stacked", :method => "PUT", :enctype => "multipart/form-data"}) do
                    %fieldset
                      %legend Main Screen
                      .clearfix
                        %label Greeting
                        .input
                          .input-append
                            %input.xlarge{:type=>"text", :name => "greeting", :value => @instance.greeting}
                            %label.add-on{"data-placement"=>"below" ,:rel=>'twipsy', :title => 'Uncheck to remove the greeting', :class => @instance.greeting_on.is_checked? ? "active" : ""}
                              = check_box nil, :greeting_on, {:checked => @instance.greeting_on.is_checked?,:id => "greeting_cb"}
                      .clearfix
                        %label Business Name
                        .input
                          %input.xlarge{:type=>"text", :name => "business_name", :placeholder => @instance.business_name, :value => @instance.business_name}
                      .clearfix
                        %label Business Nickname
                        .input
                          %input.xlarge{:type => "text", :name => "code", :placeholder => "MyBusinessName", :value => @instance.code}
                          %span.help-block Tell your customers to enter this nickname when they first launch the app to find your business
                    .actions
                      %a.btn.primary.submit Save Settings
            .tab-pane#info
              .row
                .span5
                  #app-info-screen
                    = image_tag "app_info_table.png", {:width => "256"}
                    %span.biz-name #{@instance.business_name}
                    .biz-logo-holder
                      = image_tag @instance.banner.url(:thumb), {:class => "biz-logo-thumbnail"}
                .span7
                  = form_tag(app_path, {:class => "form-stacked", :method => "PUT", :enctype => "multipart/form-data"}) do
                    .clearfix
                      %label Contact E-Mail Address
                      .input
                        .input-prepend
                          %input.span4{:type=>"text", :name => "email", :placeholder => "me@mycompany.com", :value => current_user.email}
                          %label.add-on{:class => @instance.email_on.checkbox_class}
                            = check_box nil, :email_on, {:checked => @instance.email_on.is_checked?}
                        %span.help-block If checked, users will be able to send emails to this address.
                    .clearfix
                      %label Phone Number
                      .input
                        .input-prepend
                          %input.span4{:type=>"text", :name => "phone", :placeholder => "123-456-7890", :value => @instance.phone.format_phone}
                          %label.add-on{:class => @instance.phone_on.checkbox_class}
                            = check_box nil, :phone_on, {:checked => @instance.phone_on.is_checked?}
                        %span.help-block If checked, users will be able to call this number.
                    .clearfix
                      %label Twitter
                      .input
                        .input-prepend
                          %input.span4{:type=>"text", :name => "twitter", :placeholder => "@accountname", :value => @instance.twitter.format_twitter}
                          %label.add-on{:class => @instance.twitter_on.checkbox_class}
                            = check_box nil, :twitter_on, {:checked => @instance.twitter_on.is_checked?}
                        %span.help-block If checked, users will be asked to follow you on Twitter.
                    .clearfix
                      %label Website
                      .input
                        .input-prepend
                          %input.span4{:type=>"text", :name => "website", :placeholder => "http://mywebsite.com", :value => @instance.website}
                          %label.add-on{:class => @instance.website_on.checkbox_class}
                            = check_box nil, :website_on, {:checked => @instance.website_on.is_checked?}
                        %span.help-block If checked, users will be provided a link to your website
                    .clearfix
                      %label Business Address
                      .input
                        %input.span3{:type => "text", :name => "address", :placeholder => "Address", :value => @instance.address}
                      .input{:style => "margin-top: 10px"}
                        %input.span2{:type => "text", :name => "city", :placeholder => "City", :value => @instance.city}
                        %select.span1{:style => "width: 50px", :name => "state", :value => @instance.state}
                          %option{:value => @instance.state, :selected => "selected"} #{@instance.state}
                          %option{:value => "AL"} AL
                          %option{:value => "AK"} AK
                          %option{:value => "AZ"} AZ
                          %option{:value => "AR"} AR
                          %option{:value => "CA"} CA
                          %option{:value => "CO"} CO
                          %option{:value => "CT"} CT
                          %option{:value => "DE"} DE
                          %option{:value => "DC"} DC
                          %option{:value => "FL"} FL
                          %option{:value => "GA"} GA
                          %option{:value => "HI"} HI
                          %option{:value => "ID"} ID
                          %option{:value => "IL"} IL
                          %option{:value => "IN"} IN
                          %option{:value => "IA"} IA
                          %option{:value => "KS"} KS
                          %option{:value => "KY"} KY
                          %option{:value => "LA"} LA
                          %option{:value => "ME"} ME
                          %option{:value => "MD"} MD
                          %option{:value => "MA"} MA
                          %option{:value => "MI"} MI
                          %option{:value => "MN"} MN
                          %option{:value => "MS"} MS
                          %option{:value => "MO"} MO
                          %option{:value => "MT"} MT
                          %option{:value => "NE"} NE
                          %option{:value => "NV"} NV
                          %option{:value => "NH"} NH
                          %option{:value => "NJ"} NJ
                          %option{:value => "NM"} NM
                          %option{:value => "NY"} NY
                          %option{:value => "NC"} NC
                          %option{:value => "ND"} ND
                          %option{:value => "OH"} OH
                          %option{:value => "OK"} OK
                          %option{:value => "OR"} OR
                          %option{:value => "PA"} PA
                          %option{:value => "RI"} RI
                          %option{:value => "SC"} SC
                          %option{:value => "SD"} SD
                          %option{:value => "TN"} TN
                          %option{:value => "TX"} TX
                          %option{:value => "UT"} UT
                          %option{:value => "VT"} VT
                          %option{:value => "VA"} VA
                          %option{:value => "WA"} WA
                          %option{:value => "WV"} WV
                          %option{:value => "WI"} WI
                          %option{:value => "WY"} WY
                        %input.span2{:type => "text", :name => "zip", :placeholder => "Zip", :value => @instance.zip}
                        %span.help-block Users can get directions to your business from within the app
                    .actions
                      %a.btn.primary.submit Save Settings
            .tab-pane#images
              .row
                = form_tag(update_image_app_path(@instance), {:class => "form-stacked", :method => :put, :enctype => "multipart/form-data"}) do
                  %fieldset
                    %legend Images
                    .clearfix
                      %label Logo
                      .input
                        %input.xlarge{:type=>"file", :name => "logo_file"}
                        %span.help-block Use a square image at least 60x60.
                    .actions
                      %button.btn.primary{:type => "submit"} Upload Image