.container{:id => params[:action]}
  .content
    .row
      .span4
        %h3 Your Application
        %ul.unstyled
          %li
            = link_to "Dashboard", app_path(@instance)
          %li
            = link_to "Messages", messages_app_path(@instance)
          %li
            = link_to "Settings", settings_app_path(@instance)
          %li
            = link_to "Analytics", analytics_app_path(@instance)
      .span12
        #flash-messages
          - flash.each do |name, msg|
            .alert-message.fade.in{:class => name, "data-alert" => "alert"}
              %a.close{:href => "#"} x
              %p #{msg}
        .page-header
          %h2 Dashboard
          .row
            .span5
              #app-configuration-small
                = image_tag @instance.app.canvas, {:width => "256", :class => "app-preview"}
                %span.biz-greeting #{@instance.greeting}
                %span.biz-name #{@instance.business_name}
                .biz-logo-holder
                  = image_tag @instance.banner.url(:thumb), {:class => "biz-logo-thumbnail"}
            .span7
              %h3 Instructions
              %p This will teach you to walk your customers through the process of downloading and installing your application
              
              %h4 Step 1: Find the app in the App Store
              %p 
                Option 1: Email your clients this link:
                %a{:href => @instance.app_link} #{@instance.app_link}
              %p Option 2: Click the blue "App Store" icon on the iPhone to enter the App Store. Click the "Search" button on the bottom-right of the App Store screen. Then, tap the search bar that will appear at the top of the screen. Type in "App Name", and click the blue "Search" button at the bottom-right of the screen.
              
              %h4 Step 2: Install the application
              %p Go through the normal process of installing this free application. Launch the app when the download completes.
              
              %h4 Step 3: Enter your business nickname
              %p 
                The app will prompt the user to search for and select the business that sent them the app. Tell your customers to enter:
                %b #{@instance.code}
                and select the entry that pops up. If you want customers to search for something other than "#{@instance.code}",
                you can change your business nickname under the Settings page.
                
              %h4 Step 4: Enjoy!
                