.container{:id => params[:action]}
  .content
    .row
      .span4
        %h3 Your Application
        %ul.unstyled
          %li
            = link_to "Dashboard", app_path(@instance)
          %li
            = link_to "Messages", messages_app_path(@instance)
          %li
            = link_to "Settings", settings_app_path(@instance)
          %li
            = link_to "Analytics", analytics_app_path(@instance)
      .span12
        #flash-messages
          - flash.each do |name, msg|
            .alert-message.fade.in{:class => name, "data-alert" => "alert"}
              %a.close{:href => "#"} x
              %p #{msg}
        .page-header
          %h2 Dashboard
          .row
            .span5
              #app-configuration-small
                = image_tag @instance.app.canvas, {:width => "256", :class => "app-preview"}
                %span.biz-greeting #{@instance.greeting}
                %span.biz-name #{@instance.business_name}
                .biz-logo-holder
                  = image_tag @instance.banner.url(:thumb), {:class => "biz-logo-thumbnail"}
            .span7
              %h3 Instructions
              %p This will teach you to walk your customers through the process of downloading and installing your application
              
              %h3 Activation Code
              %p 
                Your app's activation code is
                %b #{@instance.code}.
                
              %h3 Links
              %p Tell you customers to go to this link on their mobile phones: #{app_link_url(@instance)}